PORT=3003
MONGODB_URI=mongodb://localhost:27017/core_banking_transactions
AUTH_SERVICE_URL=http://localhost:3001
ACCOUNTS_SERVICE_URL=http://localhost:3002
NOTIFICATIONS_SERVICE_URL=http://localhost:3006
NODE_ENV=development
