PORT=8080
AUTH_SERVICE_URL=http://localhost:3001
ACCOUNTS_SERVICE_URL=http://localhost:3002
TRANSACTIONS_SERVICE_URL=http://localhost:3003
CLIENTS_SERVICE_URL=http://localhost:3004
ADMIN_SERVICE_URL=http://localhost:3005
NOTIFICATIONS_SERVICE_URL=http://localhost:3006
NODE_ENV=development
